body
{ 
  font-family: "Arial", "Hiragino Sans", sans-serif;
  line-height: 1.6;
  color: #1f2933;
  
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

body {
  max-width: 900px;
  margin: 0em auto;
}
h1 {
  font-size: 28px;
  color: #696969;
  border-bottom: 3px solid  #696969;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}
 h2 {
  font-size: 20px;
  color: #778899;
  margin-top: 25px;
  margin-bottom: 15px;
  border-left: 5px solid #778899;
  padding-left: 12px;
}
 h3{
  font-size: 20px;
  color: #181818c5;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 12px;
 }
p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.8;
  color: #52606d;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
  font-size: 15px;
  color: #1f2933;
}
nav {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
nav a {
  color: 	#778899;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #165191;
  text-decoration: underline;
}
a {
  color: 	#778899;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}
em {
  display: block;
  font-size: 13px;
  color: #666;
  font-style: italic;
  margin-top: 8px;
}
