body
{ 
  font-family: "Arial", "Hiragino Sans", sans-serif;
  line-height: 1.6;
  color: #1f2933;
  
  background-color: #c4c4c4;
  margin: 0;
  padding: 20px;
}

body {
  max-width: 900px;
  margin: 0em auto;
}
h1 {
  font-size: 28px;
  color: #585858;
  border-bottom: 3px solid  #585858;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}
 h2 {
  font-size: 20px;
  color: #235287;
  margin-top: 25px;
  margin-bottom: 15px;
  border-left: 5px solid #507197;
  padding-left: 12px;
}
 h3{
  font-size: 20px;
  color: #181818c5;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 12px;
 }
p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.8;
  color: #52606d;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
  font-size: 15px;
  color: #1f2933;
}
nav {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
nav a {
  color: 	#496885;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #165191;
  text-decoration: underline;
}
a {
  color: 	#24609c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
.image-wrapper {
  display: inline-block;
  text-align: center;
}
.image-credit {
  font-size: 0.7rem;
  color: #3c3c3c;
  margin-top: 6px;
  line-height: 1.2;
}
em {
  display: block;
  font-size: 13px;
  color: #666;
  font-style: italic;
  margin-top: 8px;
}
.movie-ing {width:200px;height: 300px;object-fit: cover;}

.cast-item {
  display: flex;
  align-items: flex-start; /* 上揃え */
  gap: 20px;              /* 写真と文章の間隔 */
  margin-bottom: 40px;
  background-color: rgba(255,255,255,0.03);
  padding: 20px;
  border-radius: 12px;
}
.cast-item img {
  width: 200px;      /* 写真サイズは好みで調整 */
  height: auto;
 border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
.cast-text {
  max-width: 600px;
}
.cast-text h3 {
  margin-top: 0;
}
.cast-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-source {
  font-size: 0.75rem;     /* 小さめ */
  color: #3c3c3c;            /* 目立たせない */
  margin-top: 6px;
}
