h1 {
  font-size: 28px;
  color: #696969;
  border-bottom: 3px solid #696969;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}
 h2 {
  /*⑤h2 要素を選択するセレクタは？
*/
  font-size: 20px;
  color: #778899;
  margin-top: 25px;
  margin-bottom: 15px;
  border-left: 5px solid #778899;
  padding-left: 12px;
}
